:root {
  --background-color: #060606;
  --foreground-color: #151515;
  --font-color: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  background-image: url("../assets/noise.png");
  background-size: 200px;
  object-fit: cover;
  color: var(--font-color);
  font-family: sans-serif;
}

main {
  height: 100vh;
  display: grid;
  place-content: center;
  grid-template: "cover text";
  gap: 1em;
  overflow: none;
}

@media screen and (max-width: 700px) {
  main {
    grid-template: "cover" "text";
  }
}

.cover {
  grid-area: cover;
}

.cover img {
  width: 100%;
  border-radius: 8px;
}

h1 {
  font-size: 1.75em;
}

.text {
  grid-area: text;
}

section {
  margin-bottom: 1em;
}

.buttons {
  display: flex;
  gap: .5em;
}

.button {
  background: var(--foreground-color);
  color: var(--font-color);
  text-decoration: none;
  padding: .5em;
  border-radius: 8px;
  transition: .4s;
}

.button:hover {
  background: var(--font-color);
  color: var(--background-color);
}
